.Footer {
  align-items: center;
  background-color: #f3ca12;
  bottom: 0;
  display: flex;
  height: 7%;
  justify-content: space-around;
  margin-left: 0;
  position: fixed;
  width: 440px;
}

.Footer img {
  border-radius: 5px;
  height: 27px;
  padding: 7px;
  transition: 200ms;
  width: 27px;
}

.Footer img:hover {
  background-color: #ffe679;
}
