.meals {
  align-items: center;
  background: #0fa36b;
  color: #464646;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.rocksGlass {
  animation: shake 1s infinite ease;
  max-height: 80vh;
}

/*
#iceLeft {
  animation: clink .8s infinite ease;
  opacity: 0.6;
  transform-origin: 36px 66px;
}

#iceRight {
  animation: clink .8s .2s infinite ease;
  opacity: 0.6;
  transform-origin: 60px 78px;
}
*/

.meals > .logo {
  animation: shake 1.5s infinite ease;
  color: aliceblue;
  font-family: Montserrat , sans-serif;
  font-size: 3em;
  font-weight: 900;
}

@keyframes shake {

  0% {
    transform: rotate(5deg);
  }

  50% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(5deg);
  }
}

@keyframes clink {

  0% {
    transform: rotate(-10deg);
  }

  50% {
    transform: rotate(20deg);
  }

  100% {
    transform: rotate(-10deg);
  }
}

img {
  height: 10%;
  width: 10%;
}

.container-advice {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  gap: 200px;
  overflow-x: scroll;
  width: 400px;
}

.scratched {
  text-decoration: line-through solid rgb(0);
}

.center {
  text-align: center;
}

.loginInput {
  background-color: #d4d4d4;
  border: none;
  border-radius: 5px;
  height: 20px;
  margin-bottom: 5px;
  width: 220px;
}

.buttonLogin {
  background-color: #f3ca12;
  border: none;
  border-radius: 7px;
  color: #fff1b0;
  font-weight: 700;
  height: 35px;
  width: 70px;

}

.buttonLogin:disabled {
  background-color: #636363;
  border: none;
  border-radius: 7px;
  color: #e4e4e4;
  font-weight: 700;
  height: 35px;
  width: 70px;

}

.buttonLogin:hover {
  background-color: #cfb12a;
}


.header {
  margin-bottom: 15px;
  text-align: center;
}

.image-header {
  background-color: #f3ca12;
  border-radius: 5px;
  height: 30px;
  margin-left: 8px;
  margin-right: 8px;
  padding: 8px;
  width: 30px;
}

.image-header:hover {
  background-color: #ffe679;
  height: 33px;
  width: 33px;
}

input {
  background-color: #dfdfdf;
  border: none;
  border-radius: 5px;
  padding: 3px;
}

.categoryContainer {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.categoryBtn {
  background-color: #f3ca12;
  border: none;
  border-radius: 5px;
  height: 40px;
  margin-bottom: 10px;
  margin-left: 3px;
  margin-right: 3px;
  padding: 5px;
  text-align: center;
  width: 65px;
}

.categoryBtn:hover {
  background-color: #ffe679;
  height: 43px;
  width: 68px;
}

.searchBtn {
  border: 3px solid gray;
  border-radius: 5px;
  padding: 5px;
  width: 80px;
}

.containerRecipes {
  text-align: center;

}

.recipe {
  border: none;
  border-radius: 10px;
  height: 300px;
  margin: 15px;
  padding: 0;
  padding-top: 15px;
  width: 300px;
}

.recipe:hover {
  background-color: #dbdbdb;
  height: 310px;
  width: 310px;
}

.image-recipe {
  border-radius: 15px;
  height: 180px;
  width: 180px;
}

.title-recipe {
  color: #505050;
  font-size: 20px;
  padding: 5px;
  text-transform: uppercase;
}

.recipesAll {
  text-align: center;
}

.startBtn {
  bottom: 0;
  display: flex;
  margin-left: 50%;
  position: fixed;
}
