.meals {
  align-items: center;
  background: #0fa36b;
  color: #464646;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.rocksGlass {
  animation: shake 1s infinite ease;
  max-height: 80vh;
}

/*
#iceLeft {
  animation: clink .8s infinite ease;
  opacity: 0.6;
  transform-origin: 36px 66px;
}

#iceRight {
  animation: clink .8s .2s infinite ease;
  opacity: 0.6;
  transform-origin: 60px 78px;
}
*/

.meals > .logo {
  animation: shake 1.5s infinite ease;
  color: aliceblue;
  font-family: Montserrat , sans-serif;
  font-size: 3em;
  font-weight: 900;
}

@keyframes shake {

  0% {
    transform: rotate(5deg);
  }

  50% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(5deg);
  }
}

@keyframes clink {

  0% {
    transform: rotate(-10deg);
  }

  50% {
    transform: rotate(20deg);
  }

  100% {
    transform: rotate(-10deg);
  }
}

img {
  height: 10%;
  width: 10%;
}

.container-advice {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  gap: 200px;
  overflow-x: scroll;
  width: 400px;
}

.scratched {
  text-decoration: line-through solid rgb(0);
}

.center {
  text-align: center;
}

.loginInput {
  background-color: #d4d4d4;
  border: none;
  border-radius: 5px;
  height: 20px;
  margin-bottom: 5px;
  width: 220px;
}

.buttonLogin {
  background-color: #54def0;
  border: none;
  border-radius: 7px;
  color: #aef8f8;
  font-weight: 700;
  height: 35px;
  width: 70px;

}

.buttonLogin:disabled {
  background-color: #636363;
  border: none;
  border-radius: 7px;
  color: #e4e4e4;
  font-weight: 700;
  height: 35px;
  width: 70px;

}

.buttonLogin:hover {
  background-color: #29bbce;
}
